---
import Navigation from '../components/Navigation.astro';
---
<html>
  <body>
    <div class="screen">
    <Navigation />
    <div style="padding: 2rem; text-align: center;">
      <h1>Work Archives</h1>
      <p>Learn more about my experience before the vault</p>
    </div>
</div>
  </body>
</html>
P